$font-size-small-p: 0.8rem;
$font-size-standard-p: 1rem;
$font-size-medium-p: 1.2rem;
$font-size-big-p: 2rem;
$font-size-very-big-p: 3rem;

// forecast

$carousel-progress-height: 1rem;
$btn-scroll-height: 5rem;
